.TextLogoClass {
    position: absolute;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 60px;
    }

    p {
        margin: 5% 0 0 10px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 25px;
    }
}