.imgCandado{
    width: 29%;
    margin-left: -30%;
}
.inputeye{
    width: 100%;
}
.botonRadialNewPassword {
    border: none;
    /* width: Fill (147px)px; */
    /* height: Fixed (18.64px)px; */
    padding: 3.11px 6.21px 3.11px 6.21px;
    /* gap: 1.55px; */
    /* border-radius: 1.55px 0px 0px 0px; */
    border-radius: 2px;
    /* width: 46%; */
    font-size: 26px;
    opacity: 0px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(198, 199, 248, 0.5) 0%, rgba(106, 242, 255, 0.5) 50%, rgba(81, 250, 103, 0.5) 100%);
}
