.HeaderClass {
    width: 100%;
    height: 10%;
    box-shadow: inset 0px -1px 0 #cacaca;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.HeaderClass .icons {
    display: flex;
    margin: 0 5%;
}

.HeaderClass .icons .constainerHeader {
    display: flex;
    margin: 0 20px;
}

.HeaderClassDark {
    color: white;
    box-shadow: inset 0px -1px 0 #4a4a4a;
}